css
body {background-image: url("https://api.betabotz.eu.org/api/tools/uploader-get?id=QWdBQ0FnVUFBeUVHQUFTclJWR2lBQUVDc09Gb2swOTJINDJNZFduU054ZjBEY3VuWXRmMmJ3QUNOZHN4R3h1Zm1GUW5mczdCd0FFNE53RUFBd0lBQTNrQUF6WUU6OjU4NjYyNzM5Njg6QUFFcHVLbFNGRW9Pd2ZScF9kUG9zVlZPbWVCa2JybWhlMFk=&mime=image/jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: center ;
color : white;
font-family: sans-serif;
}